*{
    padding: 0px;
    margin: 0px;
}
/*header*/

header{
    background: linear-gradient(#f0f0ff,#c0c0c0)
    padding-top: 15px;
}

.cabecalho{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

#logo:hover{
    transition: 1s;
    transform: scale(1.1);
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nay li{
    display: inline;
}